<a href="https://colab.research.google.com/github/Dummyan/data_science_bootcamp/blob/main/02_analiza_danych/02_dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### import bibliotek

In [1]:
import numpy as np
import pandas as pd

print(f'Numpy: {np.__version__}')
print(f'Pandas: {pd.__version__}')

Numpy: 1.22.4
Pandas: 1.3.5

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2023-03-03 to 2018-03-05
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1259 non-null   float64
 1   High    1259 non-null   float64
 2   Low     1259 non-null   float64
 3   Close   1259 non-null   float64
 4   Volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [3]:
df

              Open     High      Low    Close     Volume
Date
2023-03-03  92.740  94.9400  92.6600  94.9000   55759609
2023-03-02  91.410  92.2300  90.3900  92.1300   55574820
2023-03-01  93.870  94.6800  91.5900  92.1700   52299524
2023-02-28  93.140  94.6900  92.9200  94.2300   43959290
2023-02-27  94.280  94.7800  93.1400  93.7600   47470321
...            ...      ...      ...      ...        ...
2018-03-09  78.175  78.9470  77.9540  78.9445   90685000
2018-03-08  77.500  77.7440  77.2625  77.5930   77252300
2018-03-07  76.326  77.2950  76.1255  77.2500   83482460
2018-03-06  76.660  77.1065  76.4000  76.8820   91234360
2018-03-05  74.712  76.2690  74.0500  76.1805  104678680

[1259 rows x 5 columns]

In [4]:
df.head()

             Open   High    Low  Close    Volume
Date
2023-03-03  92.74  94.94  92.66  94.90  55759609
2023-03-02  91.41  92.23  90.39  92.13  55574820
2023-03-01  93.87  94.68  91.59  92.17  52299524
2023-02-28  93.14  94.69  92.92  94.23  43959290
2023-02-27  94.28  94.78  93.14  93.76  47470321

In [5]:
df.head(10)

              Open    High      Low  Close    Volume
Date
2023-03-03  92.740  94.940  92.6600  94.90  55759609
2023-03-02  91.410  92.230  90.3900  92.13  55574820
2023-03-01  93.870  94.680  91.5900  92.17  52299524
2023-02-28  93.140  94.690  92.9200  94.23  43959290
2023-02-27  94.280  94.780  93.1400  93.76  47470321
2023-02-24  93.530  94.140  92.3186  93.50  57053812
2023-02-23  96.120  96.430  93.6700  95.82  48466994
2023-02-22  95.100  97.010  94.8000  95.79  59534094
2023-02-21  95.335  95.605  94.2700  94.58  56580360
2023-02-17  97.800  97.940  95.6500  97.20  60029405

In [6]:
df.head(3)

             Open   High    Low  Close    Volume
Date
2023-03-03  92.74  94.94  92.66  94.90  55759609
2023-03-02  91.41  92.23  90.39  92.13  55574820
2023-03-01  93.87  94.68  91.59  92.17  52299524

In [7]:
df.tail()

              Open     High      Low    Close     Volume
Date
2018-03-09  78.175  78.9470  77.9540  78.9445   90685000
2018-03-08  77.500  77.7440  77.2625  77.5930   77252300
2018-03-07  76.326  77.2950  76.1255  77.2500   83482460
2018-03-06  76.660  77.1065  76.4000  76.8820   91234360
2018-03-05  74.712  76.2690  74.0500  76.1805  104678680

In [8]:
df.tail(10)

               Open     High      Low    Close     Volume
Date
2018-03-16  79.1725  79.4720  78.3750  78.5840  108500240
2018-03-15  79.7500  79.8455  78.9055  79.1160   81394020
2018-03-14  79.8500  80.3220  79.5445  79.5500   85188860
2018-03-13  80.7980  80.8770  78.9005  79.4090  130637840
2018-03-12  79.6300  80.2665  79.3350  79.9195  103484220
2018-03-09  78.1750  78.9470  77.9540  78.9445   90685000
2018-03-08  77.5000  77.7440  77.2625  77.5930   77252300
2018-03-07  76.3260  77.2950  76.1255  77.2500   83482460
2018-03-06  76.6600  77.1065  76.4000  76.8820   91234360
2018-03-05  74.7120  76.2690  74.0500  76.1805  104678680

In [9]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [10]:
df.columns = [col.lower() for col in df.columns]
df.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [11]:
df.describe()

              open         high          low        close        volume
count  1259.000000  1259.000000  1259.000000  1259.000000  1.259000e+03
mean    120.797801   122.263494   119.174015   120.729318  8.511339e+07
std      34.681008    35.044895    34.266583    34.613334  3.951628e+07
min      67.300000    69.801500    65.350000    67.198000  1.762674e+07
25%      90.027750    90.812250    89.010000    89.925000  5.843536e+07
50%     108.104000   110.781000   106.324200   108.000000  7.370534e+07
75%     158.319000   159.924000   156.200000   158.087000  1.003864e+08
max     187.200000   188.654000   184.840000   186.570000  3.113457e+08

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1259.0,1.207978e+02,3.468101e+01,6.730000e+01,9.002775e+01,1.081040e+02,1.583190e+02,1.872000e+02
high,1259.0,1.222635e+02,3.504489e+01,6.980150e+01,9.081225e+01,1.107810e+02,1.599240e+02,1.886540e+02
low,1259.0,1.191740e+02,3.426658e+01,6.535000e+01,8.901000e+01,1.063242e+02,1.562000e+02,1.848400e+02
close,1259.0,1.207293e+02,3.461333e+01,6.719800e+01,8.992500e+01,1.080000e+02,1.580870e+02,1.865700e+02
volume,1259.0,8.511339e+07,3.951628e+07,1.762674e+07,5.843536e+07,7.370534e+07,1.003864e+08,3.113457e+08

### Selekcja kolumn

In [13]:
df = df.head(10)
df

              open    high      low  close    volume
Date
2023-03-03  92.740  94.940  92.6600  94.90  55759609
2023-03-02  91.410  92.230  90.3900  92.13  55574820
2023-03-01  93.870  94.680  91.5900  92.17  52299524
2023-02-28  93.140  94.690  92.9200  94.23  43959290
2023-02-27  94.280  94.780  93.1400  93.76  47470321
2023-02-24  93.530  94.140  92.3186  93.50  57053812
2023-02-23  96.120  96.430  93.6700  95.82  48466994
2023-02-22  95.100  97.010  94.8000  95.79  59534094
2023-02-21  95.335  95.605  94.2700  94.58  56580360
2023-02-17  97.800  97.940  95.6500  97.20  60029405

In [14]:
df[['open']]

              open
Date
2023-03-03  92.740
2023-03-02  91.410
2023-03-01  93.870
2023-02-28  93.140
2023-02-27  94.280
2023-02-24  93.530
2023-02-23  96.120
2023-02-22  95.100
2023-02-21  95.335
2023-02-17  97.800

In [15]:
df['open']

Date
2023-03-03    92.740
2023-03-02    91.410
2023-03-01    93.870
2023-02-28    93.140
2023-02-27    94.280
2023-02-24    93.530
2023-02-23    96.120
2023-02-22    95.100
2023-02-21    95.335
2023-02-17    97.800
Name: open, dtype: float64

In [16]:
df.open

Date
2023-03-03    92.740
2023-03-02    91.410
2023-03-01    93.870
2023-02-28    93.140
2023-02-27    94.280
2023-02-24    93.530
2023-02-23    96.120
2023-02-22    95.100
2023-02-21    95.335
2023-02-17    97.800
Name: open, dtype: float64

In [17]:
df[['open', 'close']]

              open  close
Date
2023-03-03  92.740  94.90
2023-03-02  91.410  92.13
2023-03-01  93.870  92.17
2023-02-28  93.140  94.23
2023-02-27  94.280  93.76
2023-02-24  93.530  93.50
2023-02-23  96.120  95.82
2023-02-22  95.100  95.79
2023-02-21  95.335  94.58
2023-02-17  97.800  97.20

In [18]:
df.iloc[:, 0]

Date
2023-03-03    92.740
2023-03-02    91.410
2023-03-01    93.870
2023-02-28    93.140
2023-02-27    94.280
2023-02-24    93.530
2023-02-23    96.120
2023-02-22    95.100
2023-02-21    95.335
2023-02-17    97.800
Name: open, dtype: float64

In [19]:
df.iloc[:, [0, 3]]

              open  close
Date
2023-03-03  92.740  94.90
2023-03-02  91.410  92.13
2023-03-01  93.870  92.17
2023-02-28  93.140  94.23
2023-02-27  94.280  93.76
2023-02-24  93.530  93.50
2023-02-23  96.120  95.82
2023-02-22  95.100  95.79
2023-02-21  95.335  94.58
2023-02-17  97.800  97.20

In [20]:
df.iloc[:, 3:5]

            close    volume
Date
2023-03-03  94.90  55759609
2023-03-02  92.13  55574820
2023-03-01  92.17  52299524
2023-02-28  94.23  43959290
2023-02-27  93.76  47470321
2023-02-24  93.50  57053812
2023-02-23  95.82  48466994
2023-02-22  95.79  59534094
2023-02-21  94.58  56580360
2023-02-17  97.20  60029405

In [21]:
df.iloc[:, -1]

Date
2023-03-03    55759609
2023-03-02    55574820
2023-03-01    52299524
2023-02-28    43959290
2023-02-27    47470321
2023-02-24    57053812
2023-02-23    48466994
2023-02-22    59534094
2023-02-21    56580360
2023-02-17    60029405
Name: volume, dtype: int64

In [22]:
df.iloc[:, [-1]]

              volume
Date
2023-03-03  55759609
2023-03-02  55574820
2023-03-01  52299524
2023-02-28  43959290
2023-02-27  47470321
2023-02-24  57053812
2023-02-23  48466994
2023-02-22  59534094
2023-02-21  56580360
2023-02-17  60029405

In [24]:
df.iloc[:, -3]

Date
2023-03-03    92.6600
2023-03-02    90.3900
2023-03-01    91.5900
2023-02-28    92.9200
2023-02-27    93.1400
2023-02-24    92.3186
2023-02-23    93.6700
2023-02-22    94.8000
2023-02-21    94.2700
2023-02-17    95.6500
Name: low, dtype: float64

### Selekcja wierszy

In [25]:
df

              open    high      low  close    volume
Date
2023-03-03  92.740  94.940  92.6600  94.90  55759609
2023-03-02  91.410  92.230  90.3900  92.13  55574820
2023-03-01  93.870  94.680  91.5900  92.17  52299524
2023-02-28  93.140  94.690  92.9200  94.23  43959290
2023-02-27  94.280  94.780  93.1400  93.76  47470321
2023-02-24  93.530  94.140  92.3186  93.50  57053812
2023-02-23  96.120  96.430  93.6700  95.82  48466994
2023-02-22  95.100  97.010  94.8000  95.79  59534094
2023-02-21  95.335  95.605  94.2700  94.58  56580360
2023-02-17  97.800  97.940  95.6500  97.20  60029405

In [26]:
df.iloc[0]

open            92.74
high            94.94
low             92.66
close           94.90
volume    55759609.00
Name: 2023-03-03 00:00:00, dtype: float64

In [27]:
df.iloc[[0]]

             open   high    low  close    volume
Date
2023-03-03  92.74  94.94  92.66   94.9  55759609

In [28]:
df.iloc[:3]

             open   high    low  close    volume
Date
2023-03-03  92.74  94.94  92.66  94.90  55759609
2023-03-02  91.41  92.23  90.39  92.13  55574820
2023-03-01  93.87  94.68  91.59  92.17  52299524

In [29]:
df.loc['2023-03-03']

             open   high    low  close    volume
Date
2023-03-03  92.74  94.94  92.66   94.9  55759609

In [31]:
df.loc['2023-03-03': '2023-03-01']

Empty DataFrame
Columns: [open, high, low, close, volume]
Index: []

In [ ]:
df.loc['2023-03-03': '2023-03-01']