<a href="https://colab.research.google.com/github/Dummyan/data_science_bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
  """
  This function fetch stock market quotations.
  """
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data()
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-03-07 to 2018-03-09
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 963 entries, 2023-03-07 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    963 non-null    float64
 1   High    963 non-null    float64
 2   Low     963 non-null    float64
 3   Close   963 non-null    float64
 4   Volume  963 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 45.1 KB

In [5]:
apple.head()

               Open      High     Low   Close      Volume
Date
2023-03-07  153.700  154.0299  151.13  151.60  56182028.0
2023-03-06  153.785  156.3000  153.46  153.83  87558028.0
2023-03-03  148.045  151.1100  147.33  151.03  70732297.0
2023-03-02  144.380  146.7100  143.90  145.91  52279761.0
2023-03-01  146.830  147.2285  145.01  145.31  55478991.0

### Preprocessing

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-03-07     153.700    154.0299     151.13       151.60    56182028.0
2023-03-06     153.785    156.3000     153.46       153.83    87558028.0
2023-03-03     148.045    151.1100     147.33       151.03    70732297.0
2023-03-02     144.380    146.7100     143.90       145.91    52279761.0
2023-03-01     146.830    147.2285     145.01       145.31    55478991.0

### Konkatenacja danych

In [9]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [10]:
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-03-09,42.4814,42.9639,42.3399,42.9589,1.348385e+08,78.175,78.9470,77.9540,78.9445,90685000,56.9750,58.050,56.7145,58.0420,42661740,NaN,NaN,NaN,NaN,NaN
2018-03-12,43.0367,43.5352,43.0167,43.3737,1.349303e+08,79.630,80.2665,79.3350,79.9195,103484220,58.2525,58.908,57.9600,58.2965,44306080,NaN,NaN,NaN,NaN,NaN
2018-03-13,43.5821,43.8034,42.7825,42.9569,1.327788e+08,80.798,80.8770,78.9005,79.4090,130637840,58.5915,58.900,56.7285,56.9955,43139980,NaN,NaN,NaN,NaN,NaN
2018-03-14,43.0437,43.0895,42.4445,42.5940,1.230376e+08,79.850,80.3220,79.5445,79.5500,85188860,57.2900,57.988,57.1175,57.4445,41869640,NaN,NaN,NaN,NaN,NaN
2018-03-15,42.6090,43.0237,42.5084,42.6440,9.528426e+07,79.750,79.8455,78.9055,79.1160,81394020,57.4785,58.125,56.7830,57.5305,33381880,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-01,146.8300,147.2285,145.0100,145.3100,5.547899e+07,93.870,94.6800,91.5900,92.1700,52299524,89.9800,91.030,89.6700,90.3600,31111225,33.430,33.58,32.89,32.99,14404671.0
2023-03-02,144.3800,146.7100,143.9000,145.9100,5.227976e+07,91.410,92.2300,90.3900,92.1300,55574820,89.6600,92.275,89.5900,92.0000,32226229,32.540,33.80,32.23,33.69,17976269.0
2023-03-03,148.0450,151.1100,147.3300,151.0300,7.073230e+07,92.740,94.9400,92.6600,94.9000,55759609,92.4800,93.730,92.4500,93.6500,35160105,34.000,34.59,33.80,34.57,14990366.0
2023-03-06,153.7850,156.3000,153.4600,153.8300,8.755803e+07,95.190,96.5450,93.7400,93.7500,52112355,94.0150,95.970,94.0000,95.1300,32639313,34.585,35.11,33.85,33.88,18903006.0
2023-03-07,153.7000,154.0299,151.1300,151.6000,5.618203e+07,94.060,95.0900,92.7800,93.5500,49100668,94.9800,95.670,93.5300,93.8600,27835476,33.850,35.00,33.60,34.14,25538363.0

In [11]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,963.000000,963.000000,963.000000,963.000000,9.630000e+02
mean,100.426122,101.659429,99.259434,100.510838,1.161750e+08,120.897760,122.365123,119.270300,120.825462,8.504561e+07,87.092781,88.077438,86.115332,87.115421,3.527090e+07,37.198565,37.966447,36.364019,37.166075,2.555503e+07
std,46.169148,46.767780,45.577343,46.196737,5.574599e+07,34.633215,34.995837,34.222464,34.569520,3.956681e+07,30.281885,30.574129,29.928333,30.246520,1.591981e+07,9.729257,9.801842,9.573788,9.666547,1.656022e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,67.300000,69.801500,65.350000,67.198000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,51.143000,51.801000,50.701400,51.083200,7.887744e+07,90.050500,90.950000,89.101000,90.040000,5.827222e+07,59.767500,60.271500,59.150000,59.712000,2.517998e+07,29.840000,30.450000,29.230000,29.960000,1.574201e+07
50%,112.556000,113.972000,110.732000,112.158000,1.007592e+08,108.110000,110.990000,106.372000,108.444000,7.354612e+07,76.250000,77.549500,75.429500,76.175500,3.144428e+07,34.585000,35.220000,33.850000,34.590000,2.185281e+07
75%,143.642000,145.785000,142.386000,144.330000,1.365054e+08,158.338000,159.938000,156.250000,158.100000,1.002120e+08,112.640000,114.014000,111.460000,112.721000,4.025206e+07,44.085000,44.765000,43.280000,43.895000,3.071508e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.0,1.004261e+02,4.616915e+01,3.474310e+01,5.114300e+01,1.125560e+02,1.436420e+02,1.815760e+02
apple_high,1257.0,1.016594e+02,4.676778e+01,3.515880e+01,5.180100e+01,1.139720e+02,1.457850e+02,1.818850e+02
apple_low,1257.0,9.925943e+01,4.557734e+01,3.426350e+01,5.070140e+01,1.107320e+02,1.423860e+02,1.780870e+02
apple_close,1257.0,1.005108e+02,4.619674e+01,3.430940e+01,5.108320e+01,1.121580e+02,1.443300e+02,1.809580e+02
apple_volume,1257.0,1.161750e+08,5.574599e+07,3.519586e+07,7.887744e+07,1.007592e+08,1.365054e+08,4.347085e+08
amazon_open,1257.0,1.208978e+02,3.463321e+01,6.730000e+01,9.005050e+01,1.081100e+02,1.583380e+02,1.872000e+02
amazon_high,1257.0,1.223651e+02,3.499584e+01,6.980150e+01,9.095000e+01,1.109900e+02,1.599380e+02,1.886540e+02
amazon_low,1257.0,1.192703e+02,3.422246e+01,6.535000e+01,8.910100e+01,1.063720e+02,1.562500e+02,1.848400e+02
amazon_close,1257.0,1.208255e+02,3.456952e+01,6.719800e+01,9.004000e+01,1.084440e+02,1.581000e+02,1.865700e+02
amazon_volume,1257.0,8.504561e+07,3.956681e+07,1.762674e+07,5.827222e+07,7.354612e+07,1.002120e+08,3.113457e+08
google_open,1257.0,8.709278e+01,3.028189e+01,4.921600e+01,5.976750e+01,7.625000e+01,1.126400e+02,1.512500e+02
google_high,1257.0,8.807744e+01,3.057413e+01,5.060600e+01,6.027150e+01,7.754950e+01,1.140140e+02,1.515470e+02
google_low,1257.0,8.611533e+01,2.992833e+01,4.888300e+01,5.915000e+01,7.542950e+01,1.114600e+02,1.488990e+02
google_close,1257.0,8.711542e+01,3.024652e+01,4.923350e+01,5.971200e+01,7.617550e+01,1.127210e+02,1.498380e+02
google_volume,1257.0,3.527090e+07,1.591981e+07,9.312760e+06,2.517998e+07,3.144428e+07,4.025206e+07,1.331771e+08
uber_open,963.0,3.719857e+01,9.729257e+00,1.596000e+01,2.984000e+01,3.458500e+01,4.408500e+01,6.325000e+01
uber_high,963.0,3.796645e+01,9.801842e+00,1.780000e+01,3.045000e+01,3.522000e+01,4.476500e+01,6.405000e+01
uber_low,963.0,3.636402e+01,9.573788e+00,1.371000e+01,2.923000e+01,3.385000e+01,4.328000e+01,6.080000e+01
uber_close,963.0,3.716607e+01,9.666547e+00,1.482000e+01,2.996000e+01,3.459000e+01,4.389500e+01,6.318000e+01
uber_volume,963.0,2.555503e+07,1.656022e+07,3.380003e+06,1.574201e+07,2.185281e+07,3.071508e+07,1.863225e+08

In [13]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,100.43,46.17,34.74,51.14,112.56,143.64,181.58
apple_high,1257.00,101.66,46.77,35.16,51.80,113.97,145.78,181.88
apple_low,1257.00,99.26,45.58,34.26,50.70,110.73,142.39,178.09
apple_close,1257.00,100.51,46.20,34.31,51.08,112.16,144.33,180.96
apple_volume,1257.00,116175007.24,55745994.62,35195860.00,78877440.45,100759210.57,136505354.39,434708544.96
amazon_open,1257.00,120.90,34.63,67.30,90.05,108.11,158.34,187.20
amazon_high,1257.00,122.37,35.00,69.80,90.95,110.99,159.94,188.65
amazon_low,1257.00,119.27,34.22,65.35,89.10,106.37,156.25,184.84
amazon_close,1257.00,120.83,34.57,67.20,90.04,108.44,158.10,186.57
amazon_volume,1257.00,85045606.11,39566805.73,17626740.00,58272220.00,73546120.00,100212038.00,311345660.00
google_open,1257.00,87.09,30.28,49.22,59.77,76.25,112.64,151.25
google_high,1257.00,88.08,30.57,50.61,60.27,77.55,114.01,151.55
google_low,1257.00,86.12,29.93,48.88,59.15,75.43,111.46,148.90
google_close,1257.00,87.12,30.25,49.23,59.71,76.18,112.72,149.84
google_volume,1257.00,35270904.38,15919812.64,9312760.00,25179980.00,31444280.00,40252060.00,133177100.00
uber_open,963.00,37.20,9.73,15.96,29.84,34.59,44.09,63.25
uber_high,963.00,37.97,9.80,17.80,30.45,35.22,44.77,64.05
uber_low,963.00,36.36,9.57,13.71,29.23,33.85,43.28,60.80
uber_close,963.00,37.17,9.67,14.82,29.96,34.59,43.89,63.18
uber_volume,963.00,25555025.86,16560222.02,3380003.00,15742007.50,21852813.00,30715081.50,186322536.00

In [14]:
df.corr() # korelacja

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.74,0.75,0.74,0.74,-0.29,0.92,0.92,0.92,0.92,-0.12,0.08,0.08,0.08,0.08,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.74,0.75,0.74,0.74,-0.29,0.92,0.92,0.92,0.92,-0.11,0.07,0.08,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.74,0.75,0.74,0.74,-0.30,0.92,0.92,0.92,0.92,-0.12,0.08,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.74,0.75,0.74,0.74,-0.29,0.92,0.92,0.92,0.92,-0.12,0.08,0.08,0.08,0.08,0.11
apple_volume,-0.36,-0.35,-0.37,-0.36,1.00,-0.19,-0.19,-0.20,-0.20,0.57,-0.40,-0.40,-0.41,-0.40,0.46,-0.17,-0.16,-0.19,-0.17,0.23
amazon_open,0.74,0.74,0.74,0.74,-0.19,1.00,1.00,1.00,1.00,-0.24,0.78,0.78,0.78,0.78,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.75,0.75,0.75,0.75,-0.19,1.00,1.00,1.00,1.00,-0.22,0.78,0.78,0.79,0.78,-0.14,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.74,0.74,0.74,0.74,-0.20,1.00,1.00,1.00,1.00,-0.25,0.78,0.78,0.78,0.78,-0.16,0.60,0.60,0.60,0.60,-0.05
amazon_close,0.74,0.74,0.74,0.74,-0.20,1.00,1.00,1.00,1.00,-0.24,0.78,0.78,0.78,0.78,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_volume,-0.29,-0.29,-0.30,-0.29,0.57,-0.24,-0.22,-0.25,-0.24,1.00,-0.32,-0.31,-0.32,-0.32,0.55,-0.17,-0.16,-0.19,-0.18,0.24
google_open,0.92,0.92,0.92,0.92,-0.40,0.78,0.78,0.78,0.78,-0.32,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.92,0.92,0.92,0.92,-0.40,0.78,0.78,0.78,0.78,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.92,0.92,-0.41,0.78,0.79,0.78,0.78,-0.32,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.92,0.92,0.92,0.92,-0.40,0.78,0.78,0.78,0.78,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.11,-0.12,-0.12,0.46,-0.15,-0.14,-0.16,-0.15,0.55,-0.15,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.08,0.07,0.08,0.08,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.21
uber_high,0.08,0.08,0.09,0.08,-0.16,0.59,0.58,0.60,0.59,-0.16,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.08,0.08,0.09,0.08,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.23
uber_close,0.08,0.08,0.09,0.08,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.11,0.11,0.11,0.23,-0.04,-0.03,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.21,-0.19,-0.23,-0.21,1.00

In [15]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [16]:
closes = [col for col in df.columns if col.endswith('_close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [17]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-03-09        42.96         78.94         58.04         NaN
2018-03-12        43.37         79.92         58.30         NaN
2018-03-13        42.96         79.41         57.00         NaN
2018-03-14        42.59         79.55         57.44         NaN
2018-03-15        42.64         79.12         57.53         NaN
...                 ...           ...           ...         ...
2023-03-01       145.31         92.17         90.36       32.99
2023-03-02       145.91         92.13         92.00       33.69
2023-03-03       151.03         94.90         93.65       34.57
2023-03-06       153.83         93.75         95.13       33.88
2023-03-07       151.60         93.55         93.86       34.14

[1257 rows x 4 columns]

In [18]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.74          0.92        0.08
amazon_close         0.74          1.00          0.78        0.59
google_close         0.92          0.78          1.00        0.24
uber_close           0.08          0.59          0.24        1.00

In [19]:
closes = [col for col in df.columns if col.endswith('_close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [20]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.74,-0.29,0.92,-0.12,0.08,0.11
apple_volume,-0.36,1.00,-0.20,0.57,-0.40,0.46,-0.17,0.23
amazon_close,0.74,-0.20,1.00,-0.24,0.78,-0.15,0.59,-0.04
amazon_volume,-0.29,0.57,-0.24,1.00,-0.32,0.55,-0.18,0.24
google_close,0.92,-0.40,0.78,-0.32,1.00,-0.16,0.24,0.10
google_volume,-0.12,0.46,-0.15,0.55,-0.16,1.00,-0.16,0.28
uber_close,0.08,-0.17,0.59,-0.18,0.24,-0.16,1.00,-0.21
uber_volume,0.11,0.23,-0.04,0.24,0.10,0.28,-0.21,1.00

### Metoda append()

In [21]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-03-07      33.85      35.00     33.60       34.14     25538363
2023-03-06      34.59      35.11     33.85       33.88     18903006
2023-03-03      34.00      34.59     33.80       34.57     14990366
2023-03-02      32.54      33.80     32.23       33.69     17976269
2023-03-01      33.43      33.58     32.89       32.99     14404671

In [22]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2019)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [23]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2019)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [24]:
uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [26]:
uber_6_7 = uber_6.append(uber_7)

In [27]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998